Repository IvanLi-CN/Display-Ambient-Light-Desktop: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, rust-fmt, rust-clippy, rust-test

lefthook.yml:

# Lefthook configuration for Display Ambient Light Desktop
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Frontend linting and formatting
    frontend-lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm exec tsc --noEmit
      stage_fixed: true

    # Rust formatting check
    rust-fmt:
      glob: "src-tauri/src/**/*.rs"
      run: cd src-tauri && cargo fmt --all --check
      stage_fixed: false

    # Rust linting
    rust-clippy:
      glob: "src-tauri/src/**/*.rs"
      run: cd src-tauri && cargo clippy --all-targets --all-features -- -D clippy::correctness -D clippy::suspicious -W clippy::complexity -W clippy::perf -W clippy::style
      stage_fixed: false

    # Rust tests
    rust-test:
      glob: "src-tauri/src/**/*.rs"
      run: cd src-tauri && cargo test --all-features
      stage_fixed: false

pre-push:
  parallel: false
  commands:
    # Build check before push
    build-check:
      run: |
        echo "üîç Checking frontend build..."
        pnpm build
        echo "üîç Checking Rust build..."
        cd src-tauri && cargo check --all-targets --all-features
        echo "‚úÖ All builds successful!"

fix: rename unused function to avoid dead code warning
  src-tauri/src/main.rs
Due: none

fix: update lefthook configuration with correct glob patterns
  lefthook.yml
Due: none

fix: resolve lefthook validation issues
  src-tauri/src/main.rs
  src-tauri/src/rpc/board.rs
Due: rust-fmt, rust-clippy, rust-test

fix(ci): build frontend before Rust linting to resolve tauri context macro issue
  .github/workflows/ci.yml
Due: none

feat: merge hardware and display info pages into unified system info page
  src/App.tsx
  src/components/displays/display-state-index.tsx
  src/components/info/info-index.tsx
  src/components/led-strip-configuration/display-info-panel.tsx
  src/components/white-balance/white-balance.tsx
  src/i18n/locales/zh-CN.ts
  src/models/board-info.model.ts
Due: frontend-lint

feat: add settings page with language selection and auto-start functionality
  src-tauri/src/auto_start.rs
  src-tauri/src/main.rs
  src/App.tsx
  src/components/settings/settings.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
Due: frontend-lint

feat: implement real-time tray menu state synchronization
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/ambient_light_state.rs
  src-tauri/src/auto_start.rs
  src-tauri/src/language_manager.rs
  src-tauri/src/main.rs
  src-tauri/src/screenshot_manager.rs
  src-tauri/tauri.conf.json
  src/components/ambient-light-control/ambient-light-control.tsx
  src/components/settings/settings.tsx
  src/i18n/index.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

fix: improve responsive layout for card titles and badges
  src/components/displays/display-state-card.tsx
  src/components/info/board-info-panel.tsx
  src/components/led-strip-configuration/display-info-panel.tsx
  src/components/led-strip-configuration/led-count-control-panel.tsx
  src/components/led-strip-configuration/led-strip-configuration.tsx
  src/components/white-balance/white-balance.tsx
  tsconfig.json
  vite.config.ts
Due: frontend-lint

fix: resolve ESM import issue with @tailwindcss/vite and add frontend build check to pre-commit hook
  lefthook.yml
  vite.config.mjs
Due: none

fix: enhance pre-commit hooks to prevent ESM build errors from reaching CI
  lefthook.yml
Due: none

fix: properly resolve ESM issues while maintaining TypeScript type safety
  package.json
  postcss.config.js
  tsconfig.json
  vite.config.ts
Due: frontend-lint

feat: implement about page functionality
  about.html
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/ambient_light_state.rs
  src-tauri/src/language_manager.rs
  src-tauri/src/main.rs
  src-tauri/src/screenshot_manager.rs
  src/App.tsx
  src/about.tsx
  src/components/about/about-dialog.tsx
  src/components/settings/settings.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
  vite.config.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

fix: resolve Rust formatting issues and clippy warnings
  src-tauri/src/language_manager.rs
  src-tauri/src/main.rs
Due: none

fix: ensure toggle switches are right-aligned in settings
  src/components/ambient-light-control/ambient-light-control.tsx
  src/components/settings/settings.tsx
  src/index.tsx
  src/styles.css
Due: frontend-lint

feat: add comprehensive theme selection to settings
  about.html
  src/App.tsx
  src/about.tsx
  src/components/settings/settings.tsx
  src/components/theme-selector/theme-selector.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
  src/stores/theme.store.ts
  tailwind.config.js
Due: frontend-lint

fix: resolve theme dropdown not expanding issue
  src/components/theme-selector/theme-selector.tsx
Due: frontend-lint

feat: implement complete theme system with DaisyUI 5.0
  src/App.tsx
  src/components/theme-selector/theme-selector.tsx
  src/stores/theme.store.ts
  src/styles.css
  tailwind.config.js
Due: frontend-lint

feat: implement comprehensive user preferences persistence system
  src-tauri/src/main.rs
  src-tauri/src/user_preferences.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/components/led-strip-configuration/display-list-container.tsx
  src/components/settings/settings.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/stores/display.store.tsx
  src/stores/theme.store.ts
  src/stores/user-preferences.store.tsx
Due: frontend-lint

style: apply cargo fmt code formatting
  src-tauri/src/main.rs
  src-tauri/src/user_preferences.rs
Due: none

feat: update app icons to comply with macOS design guidelines
  assets/original-icon.png
  src-tauri/icons/1024-mac.png
  src-tauri/icons/128-mac.png
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/16-mac.png
  src-tauri/icons/256-mac.png
  src-tauri/icons/32-mac.png
  src-tauri/icons/32x32.png
  src-tauri/icons/512-mac.png
  src-tauri/icons/64-mac.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
Due: none

fix: improve development build workflow
  .github/workflows/dev-build.yml
Due: none

docs: clarify hardware protocol responsibilities
  docs/hardware-protocol.md
Due: none

feat: enhance theme selector with color preview, grouping and night mode support
  src-tauri/src/main.rs
  src-tauri/src/user_preferences.rs
  src/components/theme-selector/theme-selector.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
  src/stores/theme.store.ts
  src/stores/user-preferences.store.tsx
Due: frontend-lint

feat: add auto-scroll to current theme in dropdown menus
  src/components/theme-selector/theme-selector.tsx
Due: frontend-lint

refactor: improve theme preview layout and visual clarity
  src/components/theme-selector/theme-selector.tsx
Due: frontend-lint

feat: add LED offset setting for test effects
  src-tauri/src/led_test_effects.rs
  src-tauri/src/main.rs
  src/components/led-strip-test/led-strip-test.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
Due: frontend-lint

fix: improve LED data transmission to hardware devices
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/main.rs
  src-tauri/src/rpc/board.rs
  src-tauri/src/rpc/udp.rs
Due: rust-fmt, rust-clippy, rust-test

fix: correct WS2812B color order from RGB to GRB
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/led_test_effects.rs
Due: rust-fmt, rust-clippy, rust-test

fix: correct SK6812-RGBW LED color format from RGBW to GRBW
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/led_test_effects.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement direct LED configuration data transmission
  src/App.tsx
  src/components/led-strip-configuration/display-view.tsx
  src/components/led-strip-configuration/led-strip-config-panel.tsx
  src/components/led-strip-configuration/led-strip-configuration.tsx
  src/components/led-strip-configuration/single-display-config.tsx
  src/components/led-strip-configuration/virtual-display.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
  src/services/led-color-service.ts
  vite.config.ts
Due: frontend-lint

fix(core): resolve data flow and configuration issues
  src-tauri/src/ambient_light/config.rs
  src-tauri/src/ambient_light/config_manager.rs
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/ambient_light_state.rs
  src-tauri/src/auto_start.rs
  src-tauri/src/led_data_sender.rs
  src-tauri/src/main.rs
  src-tauri/src/screenshot_manager.rs
  src/App.tsx
  src/components/led-data-sender-test/led-data-sender-test.tsx
  src/components/led-strip-configuration/single-display-config.tsx
  src/models/led-data-sender.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

feat(backend): add unit tests for config and data processing
  src-tauri/src/ambient_light/config.rs
  src-tauri/src/ambient_light/config_manager.rs
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/screenshot.rs
Due: rust-fmt, rust-clippy, rust-test

fix: led test data not sent
  src-tauri/src/led_data_sender.rs
  src-tauri/src/main.rs
  src-tauri/src/rpc/board.rs
  src-tauri/src/rpc/udp.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement comprehensive LED strip testing and configuration system
  docs/led-strip-data-flow.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/ambient_light/config_manager.rs
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/led_data_sender.rs
  src-tauri/src/main.rs
  src-tauri/src/rpc/udp.rs
  src/App.tsx
  src/components/led-strip-configuration/led-strip-configuration.tsx
  src/components/led-strip-configuration/led-strip-part.tsx
  src/components/led-strip-configuration/led-strip-parts-sorter.tsx
  src/components/led-strip-configuration/single-display-config.tsx
  src/components/white-balance/white-balance.tsx
  src/models/led-strip-config.ts
  src/stores/led-strip.store.tsx
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

feat: implement page navigation via command line args and URL schemes
  README-navigation.md
  docs/navigation-features.md
  scripts/navigation-examples.sh
  scripts/test-navigation.sh
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/services/navigation-service.ts
Due: frontend-lint

fix: improve URL scheme parsing for display-specific navigation
  src-tauri/src/main.rs
Due: none

feat: implement URL scheme for external navigation
  src-tauri/src/main.rs
Due: none

fix: limit LED data packet size to 400 bytes for hardware compatibility
  debug_tools/create_test_led_config.py
  debug_tools/network_diagnostic.py
  debug_tools/packet_interceptor.py
  debug_tools/test_led_config_data.html
  debug_tools/test_led_data_direct.py
  debug_tools/test_tauri_api.py
  debug_tools/virtual_led_board.py
  src-tauri/src/led_data_sender.rs
  src-tauri/src/rpc/udp.rs
  src/components/led-strip-configuration/led-strip-configuration.tsx
  src/components/led-strip-configuration/single-display-config.tsx
  src/components/led-strip-test/led-strip-test.tsx
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

feat: redesign LED strip test color scheme
  debug_tools/test_led_config_data.html
  debug_tools/test_led_data_direct.py
  docs/led-test-color-scheme.md
  src/components/led-strip-configuration/single-display-config.tsx
  src/components/led-strip-test/led-strip-test.tsx
  src/services/led-color-service.ts
Due: frontend-lint

refactor: remove all hardcoded virtual hardware information
  debug_tools/test_led_config_data.html
  debug_tools/test_led_data_direct.py
  debug_tools/test_tauri_api.py
  debug_tools/virtual_led_board.py
  src-tauri/src/led_test_effects.rs
  src-tauri/src/rpc/udp.rs
  src/components/led-strip-configuration/single-display-config.tsx
  src/components/led-strip-configuration/virtual-display.tsx
  src/components/led-strip-test/led-strip-test.tsx
  src/services/led-color-service.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test
