Repository IvanLi-CN/Display-Ambient-Light-Desktop: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, rust-fmt, rust-clippy, rust-test

lefthook.yml:

# Lefthook configuration for Display Ambient Light Desktop
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Frontend linting and formatting
    frontend-lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm exec tsc --noEmit
      stage_fixed: true

    # Rust formatting check
    rust-fmt:
      glob: "src-tauri/src/**/*.rs"
      run: cd src-tauri && cargo fmt --all --check
      stage_fixed: false

    # Rust linting
    rust-clippy:
      glob: "src-tauri/src/**/*.rs"
      run: cd src-tauri && cargo clippy --all-targets --all-features -- -D clippy::correctness -D clippy::suspicious -W clippy::complexity -W clippy::perf -W clippy::style
      stage_fixed: false

    # Rust tests
    rust-test:
      glob: "src-tauri/src/**/*.rs"
      run: cd src-tauri && cargo test --all-features
      stage_fixed: false

pre-push:
  parallel: false
  commands:
    # Build check before push
    build-check:
      run: |
        echo "üîç Checking frontend build..."
        pnpm build
        echo "üîç Checking Rust build..."
        cd src-tauri && cargo check --all-targets --all-features
        echo "‚úÖ All builds successful!"

feat: update screen preview colors to match test color scheme
  src/components/led-strip-configuration/single-display-config.tsx
Due: frontend-lint

feat: implement dual-color segment positioning for single display config mode
  src-tauri/src/ambient_light/config.rs
  src-tauri/src/ambient_light/config_manager.rs
  src-tauri/src/ambient_light/cross_display_led_test.rs
  src-tauri/src/ambient_light/mod.rs
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/ambient_light/publisher_test.rs
  src-tauri/src/main.rs
  src-tauri/src/screenshot.rs
Due: rust-fmt, rust-clippy, rust-test

fix: resolve dev mode navigation issue for single display config page
  README-navigation.md
  docs/navigation-features.md
  docs/navigation-implementation.md
  src-tauri/src/main.rs
  src/App.tsx
  src/components/led-strip-configuration/single-display-config.tsx
Due: frontend-lint

fix: resolve LED offset calculation error in single display config mode (legacy)
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/main.rs
  src/components/led-strip-configuration/single-display-config.tsx
  test_navigation.html
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

fix: resolve LED offset calculation error in single display config mode
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: update test code for dual-color border API
  src-tauri/src/ambient_light/publisher_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: resolve reverse toggle functionality in single display config mode
  src-tauri/src/ambient_light/config_manager.rs
Due: rust-fmt, rust-clippy, rust-test

chore: remove temporary test navigation file
  test_navigation.html
Due: none

feat: add breathing effect for active LED strips
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/ambient_light/publisher_test.rs
  src-tauri/src/main.rs
  src/components/led-strip-configuration/single-display-config.tsx
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

fix: correct LED strip color offset calculation in frontend
  src-tauri/src/ambient_light/config.rs
  src-tauri/src/ambient_light/config_manager.rs
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/main.rs
  src-tauri/src/screenshot.rs
  src-tauri/tests/assets/led-test-wallpaper-1920x1080.png
  src/components/led-strip-configuration/led-strip-part.tsx
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

refactor: clean up unused methods and deprecated code
  src-tauri/Cargo.toml
  src-tauri/src/ambient_light/config.rs
  src-tauri/src/ambient_light/config_manager.rs
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/ambient_light/publisher_test.rs
  src-tauri/src/led_data_sender.rs
  src-tauri/src/main.rs
  src-tauri/src/screenshot.rs
  src-tauri/src/screenshot_manager.rs
  src-tauri/src/user_preferences.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add HTTP server infrastructure with axum
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/http_server/api/config.rs
  src-tauri/src/http_server/api/device.rs
  src-tauri/src/http_server/api/display.rs
  src-tauri/src/http_server/api/health.rs
  src-tauri/src/http_server/api/info.rs
  src-tauri/src/http_server/api/led.rs
  src-tauri/src/http_server/api/mod.rs
  src-tauri/src/http_server/mod.rs
  src-tauri/src/http_server/websocket.rs
  src-tauri/src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement comprehensive HTTP API client and adaptive communication layer
  docs/color-sampling-implementation.md
  docs/color-sampling-migration.md
  generate_test_wallpaper.html
  src-tauri/src/ambient_light/config_manager.rs
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/ambient_light_state.rs
  src-tauri/src/http_server/api/config.rs
  src-tauri/src/http_server/api/device.rs
  src-tauri/src/http_server/api/display.rs
  src-tauri/src/http_server/api/general.rs
  src-tauri/src/http_server/api/led.rs
  src-tauri/src/http_server/api/mod.rs
  src-tauri/src/http_server/mod.rs
  src-tauri/src/http_server/websocket.rs
  src-tauri/src/main.rs
  src-tauri/src/user_preferences.rs
  src-tauri/src/websocket_events.rs
  src/App.tsx
  src/about.tsx
  src/components/about/about-dialog.tsx
  src/components/api-test/api-test.tsx
  src/components/led-data-sender-test/led-data-sender-test.tsx
  src/components/led-strip-test/led-strip-test.tsx
  src/components/websocket-listener.tsx
  src/services/api-adapter.ts
  src/services/api-client.ts
  src/services/display-api.service.ts
  src/services/info-api.service.ts
  src/services/led-api.service.ts
  src/services/led-color-service.ts
  src/services/navigation-service.ts
  test_websocket.html
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

feat: complete migration from Tauri invoke to HTTP API
  src-tauri/src/main.rs
  src/components/info/board-index.tsx
  src/components/info/info-index.tsx
  src/components/led-strip-configuration/led-strip-configuration.tsx
  src/components/led-strip-configuration/led-strip-parts-sorter.tsx
  src/components/led-strip-configuration/single-display-config.tsx
  src/components/websocket-listener.tsx
  src/i18n/index.tsx
  src/services/api-adapter.ts
  src/services/led-api.service.ts
  src/stores/user-preferences.store.tsx
Due: frontend-lint

fix: add missing getConfig method for LED strip configuration loading
  src/services/led-api.service.ts
Due: frontend-lint

fix: correct parameter names in API service calls
  src/services/info-api.service.ts
Due: frontend-lint

feat: add headless and browser startup modes
  .vscode/launch.json
  api-test.html
  package.json
  src-tauri/src/http_server/api/config.rs
  src-tauri/src/http_server/api/info.rs
  src-tauri/src/http_server/api/led.rs
  src-tauri/src/http_server/mod.rs
  src-tauri/src/main.rs
  src/App.tsx
  src/components/api-test-runner/api-test-runner.tsx
  src/tests/api-integration.test.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

feat: enhance browser mode with integrated frontend hot reload
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/http_server/mod.rs
  src-tauri/src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: enhance LED testing functionality and optimize theme system
  src-tauri/src/http_server/api/config.rs
  src-tauri/src/http_server/api/led.rs
  src-tauri/src/http_server/mod.rs
  src-tauri/src/rpc/udp.rs
  src/App.tsx
  src/components/info/board-index.tsx
  src/components/info/info-index.tsx
  src/components/led-strip-configuration/single-display-config.tsx
  src/components/led-strip-test/led-strip-test.tsx
  src/components/white-balance/white-balance.tsx
  src/services/api-adapter.ts
  src/services/info-api.service.ts
  src/services/led-api.service.ts
  src/stores/display.store.tsx
  src/stores/theme.store.ts
  src/stores/user-preferences.store.tsx
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

feat: add commitlint configuration with English-only validation
  commitlint.config.cjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

feat: implement LED test effect manager
  src-tauri/src/http_server/api/led.rs
  src-tauri/src/led_test_effects.rs
Due: rust-fmt, rust-clippy, rust-test

fix: resolve LED color publisher startup and communication issues
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/http_server/websocket.rs
  src-tauri/src/websocket_events.rs
  src/components/led-strip-configuration/led-strip-configuration.tsx
  src/components/websocket-listener.tsx
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

fix: resolve WebSocket LED color events not being published
  src-tauri/src/screenshot.rs
Due: none

fix: resolve LED color real-time update JavaScript errors
  src-tauri/src/http_server/websocket.rs
  src/components/led-strip-configuration/display-view.tsx
  src/components/led-strip-configuration/led-count-control-panel.tsx
  src/components/led-strip-configuration/led-strip-configuration.tsx
  src/components/led-strip-configuration/single-display-config.tsx
  src/services/api-adapter.ts
  src/services/api-client.ts
  websocket-test.html
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

feat: implement subscription-based WebSocket mechanism
  src-tauri/src/http_server/websocket.rs
  src-tauri/src/websocket_events.rs
  src/services/api-client.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

feat(i18n): rename white balance to color calibration
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
Due: frontend-lint

feat: implement unified LED status management architecture
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/http_server/api/led.rs
  src-tauri/src/http_server/mod.rs
  src-tauri/src/http_server/websocket.rs
  src-tauri/src/led_data_sender.rs
  src-tauri/src/led_status_manager.rs
  src-tauri/src/led_status_manager_test.rs
  src-tauri/src/main.rs
  src-tauri/src/websocket_events.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: fix clippy warnings and improve code quality
  src-tauri/src/ambient_light/config.rs
  src-tauri/src/ambient_light/config_manager.rs
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/auto_start.rs
  src-tauri/src/display/display_handler.rs
  src-tauri/src/display/manager.rs
  src-tauri/src/http_server/api/config.rs
  src-tauri/src/http_server/api/device.rs
  src-tauri/src/http_server/api/display.rs
  src-tauri/src/http_server/api/health.rs
  src-tauri/src/http_server/api/led.rs
  src-tauri/src/http_server/mod.rs
  src-tauri/src/http_server/websocket.rs
  src-tauri/src/led_color.rs
  src-tauri/src/led_data_sender.rs
  src-tauri/src/led_status_manager.rs
  src-tauri/src/led_status_manager_test.rs
  src-tauri/src/led_test_effects.rs
  src-tauri/src/main.rs
  src-tauri/src/rpc/board.rs
  src-tauri/src/rpc/udp.rs
  src-tauri/src/screen_stream.rs
  src-tauri/src/screenshot.rs
  src-tauri/src/screenshot_manager.rs
  src-tauri/src/user_preferences.rs
  src-tauri/src/volume/manager.rs
  src-tauri/src/websocket_events.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement WebSocket-driven status bar with real-time updates
  src-tauri/src/http_server/websocket.rs
  src-tauri/src/led_status_manager.rs
  src-tauri/src/websocket_events.rs
  src/App.tsx
  src/components/status-bar/index.ts
  src/components/status-bar/status-bar.tsx
  src/services/api-adapter.ts
  src/types/led-status.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

refactor: rename i18n keys from whiteBalance to colorCalibration
  src-tauri/src/language_manager.rs
  src-tauri/src/main.rs
Due: none

refactor: complete i18n key rename from whiteBalance to colorCalibration
  src/App.tsx
  src/components/white-balance/white-balance.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
Due: frontend-lint

feat: implement color calibration service and fix i18n navigation
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/http_server/api/config.rs
  src-tauri/src/language_manager.rs
  src-tauri/src/led_data_sender.rs
  src-tauri/src/led_status_manager.rs
  src-tauri/src/websocket_events.rs
  src/components/led-strip-configuration/single-display-config.tsx
  src/components/settings/settings.tsx
  src/components/white-balance/test-colors-bg.tsx
  src/components/white-balance/white-balance.tsx
  src/models/led-data-sender.ts
  src/services/api-adapter.ts
  src/services/api-client.ts
  src/services/color-calibration.service.ts
  src/services/led-api.service.ts
  src/types/led-status.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

fix(frontend): resolve LED status display showing unknown
  src/App.tsx
  src/components/led-strip-configuration/display-list-container.tsx
  src/components/led-strip-configuration/led-strip-configuration.tsx
  src/components/led-strip-configuration/single-display-config.tsx
  src/types/led-status.ts
Due: frontend-lint

feat(i18n): add internationalization support for LED status bar
  src/components/led-strip-configuration/single-display-config.tsx
  src/components/status-bar/status-bar.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
  src/types/led-status.ts
Due: frontend-lint

feat(ui): add colorful badge styles and icons for LED status modes
  src/components/status-bar/status-bar.tsx
  src/types/led-status.ts
Due: frontend-lint

refactor(ui): optimize status bar to single-line minimal layout
  src/components/status-bar/status-bar.tsx
Due: frontend-lint

feat: implement LED preview and status bar with test mode fixes
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/http_server/api/led.rs
  src-tauri/src/http_server/websocket.rs
  src-tauri/src/language_manager.rs
  src-tauri/src/led_data_processor.rs
  src-tauri/src/led_data_sender.rs
  src-tauri/src/led_preview_state.rs
  src-tauri/src/led_status_manager.rs
  src-tauri/src/led_test_effects.rs
  src-tauri/src/main.rs
  src-tauri/src/websocket_events.rs
  src/App.tsx
  src/components/led-preview/index.ts
  src/components/led-preview/led-preview.tsx
  src/components/led-strip-test/led-strip-test.tsx
  src/components/status-bar/status-bar.tsx
  src/i18n/index.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
  src/types/led-status.ts
  src/types/websocket.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

fix: resolve ambient light recovery after LED config mode exit
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement LED preview functionality and status bar improvements
  src-tauri/src/http_server/api/led.rs
  src-tauri/src/led_preview_state.rs
  src/components/led-preview/led-preview.tsx
  src/components/led-strip-configuration/single-display-config.tsx
  src/components/status-bar/status-bar.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
  src/services/api-adapter.ts
  src/services/led-api.service.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

perf: optimize logging output to reduce console noise
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/http_server/api/led.rs
  src-tauri/src/http_server/websocket.rs
  src-tauri/src/led_data_processor.rs
  src-tauri/src/led_data_sender.rs
  src-tauri/src/led_preview_state.rs
  src-tauri/src/led_status_manager.rs
  src-tauri/src/led_test_effects.rs
  src-tauri/src/screenshot.rs
  src-tauri/src/websocket_events.rs
Due: rust-fmt, rust-clippy, rust-test
