Repository IvanLi-CN/Display-Ambient-Light-Desktop: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, rust-fmt, rust-clippy, rust-test

lefthook.yml:

# Lefthook configuration for Display Ambient Light Desktop
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Frontend linting and formatting
    frontend-lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm exec tsc --noEmit
      stage_fixed: true

    # Rust formatting check
    rust-fmt:
      glob: "src-tauri/src/**/*.rs"
      run: cd src-tauri && cargo fmt --all --check
      stage_fixed: false

    # Rust linting
    rust-clippy:
      glob: "src-tauri/src/**/*.rs"
      run: cd src-tauri && cargo clippy --all-targets --all-features -- -D clippy::correctness -D clippy::suspicious -W clippy::complexity -W clippy::perf -W clippy::style
      stage_fixed: false

    # Rust tests
    rust-test:
      glob: "src-tauri/src/**/*.rs"
      run: cd src-tauri && cargo test --all-features
      stage_fixed: false

pre-push:
  parallel: false
  commands:
    # Build check before push
    build-check:
      run: |
        echo "üîç Checking frontend build..."
        pnpm build
        echo "üîç Checking Rust build..."
        cd src-tauri && cargo check --all-targets --all-features
        echo "‚úÖ All builds successful!"

perf: optimize logging output to reduce console noise
  debug_tools/create_test_led_config.py
  debug_tools/network_diagnostic.py
  debug_tools/packet_interceptor.py
  debug_tools/test_led_config_data.html
  debug_tools/test_led_data_direct.py
  debug_tools/test_tauri_api.py
  debug_tools/virtual_led_board.py
  log
  src/App.tsx
  src/components/ambient-light-control/ambient-light-control.tsx
  src/components/led-data-sender-test/led-data-sender-test.tsx
  src/components/led-preview/led-preview.tsx
  src/components/led-strip-configuration/led-strip-configuration.tsx
  src/components/led-strip-configuration/single-display-config.tsx
  src/components/status-bar/status-bar.tsx
  src/components/websocket-listener.tsx
  src/services/api-adapter.ts
  src/services/color-calibration.service.ts
  src/services/led-api.service.ts
  src/stores/user-preferences.store.tsx
Due: frontend-lint

fix: optimize LED test stop mechanism with cancellation tokens
  log
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/http_server/api/device.rs
  src-tauri/src/led_test_effects.rs
  src-tauri/src/websocket_events.rs
  src/components/led-strip-test/led-strip-test.tsx
  src/components/status-bar/status-bar.tsx
  src/services/api-client.ts
  src/services/led-api.service.ts
  test-led-mode-fix.html
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

perf: optimize memory usage and reduce allocations
  log
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/ambient_light/publisher_test.rs
  src-tauri/src/http_server/websocket.rs
  src-tauri/src/language_manager.rs
  src-tauri/src/led_data_processor.rs
  src-tauri/src/led_status_manager.rs
  src-tauri/src/led_test_effects.rs
  src-tauri/src/main.rs
  src-tauri/src/screen_stream.rs
  src-tauri/src/screenshot.rs
  src-tauri/src/websocket_events.rs
  src/components/led-strip-test/led-strip-test.tsx
  src/components/status-bar/status-bar.tsx
  src/services/api-adapter.ts
  src/services/api-client.ts
  src/services/led-api.service.ts
  src/types/led-status.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

feat: remove LED preview area from LED test page
  src/components/led-strip-test/led-strip-test.tsx
Due: frontend-lint

fix(led-preview): resolve color calibration mode switching buffer issues
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/http_server/api/led.rs
  src/components/led-preview/led-preview.tsx
  src/components/white-balance/white-balance.tsx
  src/services/api-adapter.ts
  src/services/color-calibration.service.ts
  src/services/led-api.service.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

feat(color-calibration): enhance API and error handling
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/http_server/api/led.rs
  src/services/api-adapter.ts
  src/services/color-calibration.service.ts
  src/services/led-api.service.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

fix: resolve LED preview flickering issue with display-isolated data flow
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/http_server/api/led.rs
  src-tauri/src/http_server/websocket.rs
  src-tauri/src/led_data_processor.rs
  src-tauri/src/websocket_events.rs
  src/components/led-strip-configuration/display-view.tsx
  src/components/led-strip-configuration/led-strip-part.tsx
  src/components/websocket-listener.tsx
  src/types/websocket.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

refactor: use LedStripColorsChangedEvent for LED sorter preview
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/led_data_processor.rs
  src-tauri/src/led_status_manager.rs
  src/components/api-test/api-test.tsx
  src/components/led-strip-configuration/led-strip-configuration.tsx
  src/components/led-strip-configuration/led-strip-part.tsx
  src/components/led-strip-configuration/led-strip-parts-sorter.tsx
  src/models/led-strip-config.ts
  src/stores/led-strip.store.tsx
  test_websocket.html
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

refactor: simplify LED preview and move LED count to strip side
  src/components/led-preview/led-preview.tsx
  src/components/led-strip-configuration/display-view.tsx
Due: frontend-lint

refactor: remove LED count control panel component
  src/components/led-strip-configuration/led-count-control-panel.tsx
  src/components/led-strip-configuration/led-strip-configuration.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
  src/styles.css
Due: frontend-lint

refactor: remove LED strip part moving functionality
  src/components/led-strip-configuration/led-strip-parts-sorter.tsx
  src/components/led-strip-configuration/single-display-config.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/services/api-adapter.ts
  src/services/led-api.service.ts
Due: frontend-lint

feat: remove debug pages - LED data sender test and API test
  docs/navigation-implementation.md
  scripts/navigation-examples.sh
  src-tauri/src/main.rs
  src/App.tsx
  src/components/api-test-runner/api-test-runner.tsx
  src/components/api-test/api-test.tsx
  src/components/led-data-sender-test/led-data-sender-test.tsx
  src/models/led-data-sender.ts
  src/services/navigation-service.ts
  src/tests/api-integration.test.ts
Due: frontend-lint

feat: enhance LED strip configuration with advanced controls
  src/components/led-strip-configuration/led-count-control-panel.tsx
  src/components/led-strip-configuration/led-strip-configuration.tsx
  src/components/led-strip-configuration/led-strip-parts-sorter.tsx
  src/components/led-strip-configuration/single-display-config.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
  src/services/api-adapter.ts
  src/services/led-api.service.ts
  src/styles.css
Due: frontend-lint

feat: implement stable display ID system
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/ambient_light/config_manager_v2.rs
  src-tauri/src/ambient_light/config_v2.rs
  src-tauri/src/ambient_light/mod.rs
  src-tauri/src/ambient_light/publisher_adapter.rs
  src-tauri/src/display/config_migrator.rs
  src-tauri/src/display/display_config.rs
  src-tauri/src/display/display_matcher.rs
  src-tauri/src/display/display_registry.rs
  src-tauri/src/display/mod.rs
  src-tauri/src/display/tests.rs
Due: rust-fmt, rust-clippy, rust-test

fix: resolve getDisplayConfigs error and enhance display management
  src-tauri/src/ambient_light/config_manager_v2.rs
  src-tauri/src/ambient_light/config_v2.rs
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/ambient_light/publisher_adapter.rs
  src-tauri/src/display/config_migrator.rs
  src-tauri/src/display/display_config.rs
  src-tauri/src/display/display_matcher.rs
  src-tauri/src/display/display_registry.rs
  src-tauri/src/display/tests.rs
  src-tauri/src/http_server/api/config.rs
  src-tauri/src/http_server/api/display.rs
  src-tauri/src/main.rs
  src-tauri/src/tests/integration_test.rs
  src-tauri/src/tests/mod.rs
  src-tauri/src/tests/stable_display_id_test.rs
  src/components/info/info-index.tsx
  src/services/api-adapter.ts
  src/services/display-api.service.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

refactor: remove LED count control panel and drag functionality
  src/components/led-strip-configuration/led-count-control-panel.tsx
  src/components/led-strip-configuration/led-strip-configuration.tsx
  src/components/led-strip-configuration/led-strip-parts-sorter.tsx
  src/components/led-strip-configuration/single-display-config.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
  src/services/api-adapter.ts
  src/services/led-api.service.ts
  src/styles.css
Due: frontend-lint

feat: remove save button and implement auto-save configuration
  src-tauri/src/http_server/api/config.rs
  src/components/led-strip-configuration/led-strip-part.tsx
  src/components/led-strip-configuration/single-display-config.tsx
  src/services/api-adapter.ts
  src/services/led-api.service.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

feat: integrate markdownlint-cli2 for documentation quality
  .github/README.md
  .markdownlint-cli2.yaml
  README.md
  docs/color-sampling-implementation.md
  docs/color-sampling-migration.md
  docs/development-builds.md
  docs/device-auto-refresh-implementation.md
  docs/device-auto-refresh-testing.md
  docs/lefthook-setup.md
  docs/navigation-features.md
  docs/navigation-implementation.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

fix(screenshot): correct coordinate transformation for LED sampling
  src-tauri/src/screenshot.rs
Due: none

fix: resolve LED strip configuration anomalies and improve stability
  .augment/rules/base.md
  src-tauri/src/ambient_light/config.rs
  src-tauri/src/ambient_light/config_manager_v2.rs
  src-tauri/src/ambient_light/config_v2.rs
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/ambient_light/publisher_adapter.rs
  src-tauri/src/display/config_migrator.rs
  src-tauri/src/display/display_config.rs
  src-tauri/src/display/display_matcher.rs
  src-tauri/src/display/mod.rs
  src-tauri/src/display/tests.rs
  src-tauri/src/http_server/api/config.rs
  src-tauri/src/http_server/api/display.rs
  src-tauri/src/http_server/api/led.rs
  src-tauri/src/http_server/mod.rs
  src-tauri/src/led_data_processor.rs
  src-tauri/src/led_status_manager.rs
  src-tauri/src/main.rs
  src-tauri/src/screen_stream.rs
  src-tauri/src/screenshot_manager.rs
  src-tauri/src/tests/integration_test.rs
  src/components/led-strip-configuration/single-display-config.tsx
  src/services/api-adapter.ts
  src/services/led-api.service.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

fix: resolve LED count zero issue in single display mode
  src-tauri/src/ambient_light/publisher.rs
Due: rust-fmt, rust-clippy, rust-test

feat(led-config): add V2 config format support with stable display IDs
  src/components/led-strip-configuration/display-view.tsx
  src/components/led-strip-configuration/led-strip-configuration.tsx
  src/models/display-info.model.ts
  src/models/led-strip-config.ts
Due: frontend-lint

fix(websocket): improve LED preview stability and config consistency
  src-tauri/src/ambient_light/config.rs
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/http_server/websocket.rs
Due: rust-fmt, rust-clippy, rust-test

feat(led-preview): optimize rendering with 30FPS throttling
  src/components/led-preview/led-preview.tsx
  src/services/led-api.service.ts
  src/types/led-status.ts
Due: frontend-lint

feat(status-bar): enhance with frequency stats and improved UX
  src/components/status-bar/status-bar.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
Due: frontend-lint

feat(websocket): improve event system with accurate timestamps
  src-tauri/src/http_server/api/led.rs
  src-tauri/src/http_server/websocket.rs
  src-tauri/src/websocket_events.rs
  src/services/api-adapter.ts
  src/types/websocket.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

feat(backend): implement stable display ID system with comprehensive LED management
  .augment/rules/base.md
  src-tauri/src/ambient_light/config_manager_v2.rs
  src-tauri/src/ambient_light/config_v2.rs
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/ambient_light/publisher_adapter.rs
  src-tauri/src/display/mod.rs
  src-tauri/src/display/tests.rs
  src-tauri/src/http_server/api/config.rs
  src-tauri/src/screenshot_manager.rs
  src-tauri/src/tests/integration_test.rs
Due: rust-fmt, rust-clippy, rust-test

feat: update dev ports to 24100/24101/24102
  .augment/rules/base.md
  .vscode/launch.json
  api-test.html
  src-tauri/src/http_server/mod.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/components/led-strip-configuration/screen-view-websocket.tsx
  src/services/api-client.ts
  test-led-mode-fix.html
  test_websocket.html
  vite.config.ts
  websocket-test.html
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

fix(led-strip): prevent default selected state on load
  src/components/led-strip-configuration/led-strip-part.tsx
Due: frontend-lint

feat: reduce high-frequency repetitive logs
  src-tauri/src/ambient_light/config_manager_v2.rs
  src-tauri/src/ambient_light/config_v2.rs
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/display/display_registry.rs
  src-tauri/src/http_server/websocket.rs
  src-tauri/src/led_data_processor.rs
  src-tauri/src/led_data_sender.rs
  src-tauri/src/led_test_effects.rs
  src-tauri/src/main.rs
  src-tauri/src/rpc/udp.rs
  src-tauri/src/websocket_events.rs
Due: rust-fmt, rust-clippy, rust-test

feat: change LED offset to byte offset
  src-tauri/src/led_test_effects.rs
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
Due: frontend-lint

refactor: clean up redundant frontend logging
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/http_server/websocket.rs
  src-tauri/src/led_data_processor.rs
  src-tauri/src/websocket_events.rs
  src/components/led-preview/led-preview.tsx
  src/components/led-strip-configuration/led-strip-configuration.tsx
  src/components/status-bar/status-bar.tsx
  src/components/websocket-listener.tsx
  src/services/api-adapter.ts
  src/services/api-client.ts
  src/types/websocket.ts
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

fix: resolve LED strip test page event listener lifecycle issue
  src/components/led-strip-test/led-strip-test.tsx
Due: frontend-lint

refactor: clean up redundant debug logs
  src/components/websocket-listener.tsx
  src/services/api-adapter.ts
Due: frontend-lint

feat: add LED color calibration configuration tracking logs
  src-tauri/src/ambient_light/config_manager_v2.rs
  src-tauri/src/ambient_light/config_v2.rs
  src-tauri/src/http_server/api/config.rs
Due: rust-fmt, rust-clippy, rust-test

fix: prevent integration test from polluting production config
  src-tauri/src/tests/integration_test.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add environment variable support for config file path
  src-tauri/src/ambient_light/config_v2.rs
  src-tauri/src/tests/integration_test.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement direct V2 config support for color calibration
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/led_data_processor.rs
Due: rust-fmt, rust-clippy, rust-test

fix: prevent color calibration mode from being accidentally activated
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/screenshot_manager.rs
  src/components/white-balance/white-balance.tsx
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

fix: udp packet byte offset calculation for mixed LED types
  src-tauri/src/ambient_light/publisher.rs
Due: rust-fmt, rust-clippy, rust-test
