Repository IvanLi-CN/Display-Ambient-Light-Desktop: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, rust-fmt, rust-clippy, rust-test

lefthook.yml:

# Lefthook configuration for Display Ambient Light Desktop
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Frontend linting and formatting
    frontend-lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm exec tsc --noEmit
      stage_fixed: true

    # Rust formatting check
    rust-fmt:
      glob: "src-tauri/src/**/*.rs"
      run: cd src-tauri && cargo fmt --all --check
      stage_fixed: false

    # Rust linting
    rust-clippy:
      glob: "src-tauri/src/**/*.rs"
      run: cd src-tauri && cargo clippy --all-targets --all-features -- -D clippy::correctness -D clippy::suspicious -W clippy::complexity -W clippy::perf -W clippy::style
      stage_fixed: false

    # Rust tests
    rust-test:
      glob: "src-tauri/src/**/*.rs"
      run: cd src-tauri && cargo test --all-features
      stage_fixed: false

pre-push:
  parallel: false
  commands:
    # Build check before push
    build-check:
      run: |
        echo "üîç Checking frontend build..."
        pnpm build
        echo "üîç Checking Rust build..."
        cd src-tauri && cargo check --all-targets --all-features
        echo "‚úÖ All builds successful!"

style: apply rust fmt formatting
  src-tauri/src/led_data_processor.rs
  src-tauri/src/screenshot_manager.rs
Due: none

docs: add commit rule and exclude .augment from markdown lint
  .augment/rules/base.md
  lefthook.yml
  package.json
Due: none

feat: remove LED count display from strip configuration interface
  src/components/led-strip-configuration/display-view.tsx
Due: frontend-lint

feat: optimize bottom refresh rate indicator
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/frequency_calculator.rs
  src-tauri/src/led_data_processor.rs
  src-tauri/src/led_data_sender.rs
  src-tauri/src/led_status_manager.rs
  src-tauri/src/main.rs
  src-tauri/src/websocket_events.rs
  src/components/status-bar/status-bar.tsx
  src/styles.css
Due: frontend-lint, rust-fmt, rust-clippy, rust-test

fix: resolve cargo audit security vulnerabilities
  src-tauri/.cargo/audit.toml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
Due: none

feat: migrate from pnpm to bun package manager
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/dev-build.yml
  .github/workflows/release.yml
  .vscode/tasks.json
  README.md
  bun.lock
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src-tauri/tauri.conf.json
Due: none

feat: partial dependency upgrades
  bun.lock
  lefthook.yml
  package.json
Due: none

fix: update @solidjs/router to v0.15.3 and resolve build issues
  bun.lock
  lefthook.yml
  package.json
  src/App.tsx
  src/index.tsx
Due: frontend-lint

feat: upgrade Rust backend dependencies
  src-tauri/Cargo.lock
Due: none

fix: upgrade Vite from 5.4.11 to 6.3.5 to resolve security vulnerabilities
  bun.lock
  package.json
Due: none

fix: resolve github actions build failure
  src-tauri/tauri.conf.json
Due: none

fix: 修复氛围灯控制开关故障
  .augment/rules/base.md
  src/components/ambient-light-control/ambient-light-control.tsx
  src/services/api-adapter.ts
  src/services/display-api.service.ts
Due: frontend-lint

fix: resolve ambient light control toggle failure and enable commitlint
  lefthook.yml
Due: none

fix(ci): improve release workflow to filter semantic version tags
  .github/workflows/release.yml
Due: none

fix: resolve GitHub Actions release build failures
  .github/workflows/dev-build.yml
  .github/workflows/release.yml
Due: none

fix: align package.json name with Cargo.toml for tauri-action
  package.json
Due: none

fix: correct version output reference in workflow
  .github/workflows/release.yml
Due: none

fix: resolve asymmetric color bar display issue in production build
  src/components/white-balance/test-colors-bg.tsx
  src/styles.css
Due: frontend-lint

fix: resolve duplicate tray icons issue
  src-tauri/tauri.conf.json
Due: none

fix: resolve color test panel CSS specificity conflict
  src/components/white-balance/test-colors-bg.tsx
  src/styles.css
Due: frontend-lint

fix: resolve fullscreen compatibility issue in Tauri desktop app
  src/components/white-balance/white-balance.tsx
  src/utils/fullscreen.utils.ts
Due: frontend-lint

feat: add macOS ad-hoc code signing configuration
  .github/workflows/dev-build.yml
  .github/workflows/release.yml
  README.md
  src-tauri/tauri.conf.json
Due: none

chore(security): update Vite and Tauri plugins
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

docs: add repository guidelines (AGENTS.md); remove legacy .augment
  .augment/rules/base.md
  AGENTS.md
Due: none

chore(deps): update Bun lockfile
  bun.lock
Due: none

docs: add CLAUDE.md file for future Claude Code instances
  CLAUDE.md
Due: none

docs(readme,agents): set Vite dev server port to 24100
  AGENTS.md
  README.md
Due: none

chore(serena): add Serena project memories
  .serena/.gitignore
  .serena/memories/completion_checklist.md
  .serena/memories/project_overview.md
  .serena/memories/style_and_conventions.md
  .serena/memories/suggested_commands.md
  .serena/project.yml
Due: none

fix(ambient-light): honor reversed strips in ambient mode
  src-tauri/src/ambient_light/config.rs
  src-tauri/src/ambient_light/publisher.rs
  src-tauri/src/http_server/api/display.rs
Due: rust-fmt, rust-clippy, rust-test

ci: speed up CI and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(ci): run rustsec audit against src-tauri manifest
  .github/workflows/ci.yml
Due: none

fix(ci): use actions-rust-lang/audit with workingDirectory=src-tauri
  .github/workflows/ci.yml
Due: none

fix(ci): add Python requests for rustsec audit
  .github/workflows/ci.yml
Due: none

fix(ci): correct audit step indentation and setup order
  .github/workflows/ci.yml
Due: none

chore(workflows): speed up dev-build and dependencies
  .github/workflows/dependencies.yml
  .github/workflows/dev-build.yml
Due: none

fix(i18n): translate display info and websocket strings
  src/components/displays/display-state-card.tsx
  src/components/info/info-index.tsx
  src/components/led-preview/led-preview.tsx
  src/components/led-strip-configuration/single-display-config.tsx
  src/components/led-strip-test/led-strip-test.tsx
  src/components/websocket-listener.tsx
  src/i18n/locales/en-US.ts
  src/i18n/locales/zh-CN.ts
  src/i18n/types.ts
Due: frontend-lint

fix(ci): isolate manual release workflow runs
  .github/workflows/ci.yml
  .github/workflows/release.yml
  scripts/test-release-workflow-concurrency.mjs
Due: none

fix(ci): isolate manual release workflow runs (#20)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  scripts/test-release-workflow-concurrency.mjs
Due: none

fix(deps): resolve RustSec audit findings
  .github/workflows/ci.yml
  bun.lock
  package.json
  scripts/test-rust-dependency-security-contract.mjs
  src-tauri/.cargo/audit.toml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/vendor/ddc-hi/.cargo-ok
  src-tauri/vendor/ddc-hi/.cargo_vcs_info.json
  src-tauri/vendor/ddc-hi/.github/workflows/ddc-hi.yml
  src-tauri/vendor/ddc-hi/.gitignore
  src-tauri/vendor/ddc-hi/COPYING
  src-tauri/vendor/ddc-hi/Cargo.toml
  src-tauri/vendor/ddc-hi/Cargo.toml.orig
  src-tauri/vendor/ddc-hi/PATCHES.md
  src-tauri/vendor/ddc-hi/README.md
  src-tauri/vendor/ddc-hi/build.rs
  src-tauri/vendor/ddc-hi/ci.nix
  src-tauri/vendor/ddc-hi/shell.nix
  src-tauri/vendor/ddc-hi/src/lib.rs
Due: none
